/****** Bloc activités à Marseille ******/

.activites-a-marseille {
    width: 1,340px;
    height: 559.02px;
    padding: 30px;
    gap: 30px
}
.activites-title {
    width: 1280px;
    height: 30.02px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.activites-cards {
    display: flex;
    width: 1,280px;
    height: 439px;
    gap: 30px
}
.activites-cards .card {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    padding: 0%;
}

.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
}
.activites-cards .card-title{
    width: 259.5px;
    height: 19px;
    white-space: nowrap;
}

/*** MEDIA QUERY ***/

@media (max-width: 1024px) {
    .activites-a-marseille {
        width: 924px;
        height: 390.02px;
        padding: 30px;
        gap: 30px;
    }
    .activites-title {
        width: 864px;
        height: 30.02px;
        font-size: 22px;
    }
    .activites-cards {
        display: flex;
        width: 864px;
        height: 270px;
        gap: 30px;
    }
    .activites-cards .card {
        width: 193.5px;
        height: 270px;
        border-radius: 20px;
    }
    .activites-cards img {
        width: 193.5px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    .activites-cards .card-content {
        width: 67%;
        display: flex;
        padding-left: 15px;
    }
    .activites-cards .card-title {
        width: 155.5px;
        height: 19px;
        font-size: 16px;
        white-space: wrap;
    }
}



@media (max-width: 767.98px) {
    .activites-a-marseille {
        width: 375px;
        height: 965.02px;
        padding: 30px;
        gap: 30px;
    }
    .activites-cards {
        width: 315px;
        height: 845px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .activites-cards .card {
        width: 315px;
        height: 200px;
    }
    .activites-cards img {
        width: 100%;
        height: 141px;
        border-radius: 20px 20px 0px 0px;
    }
    .activites-cards .card-content {
        width: 100%;
    }
    .activites-a-marseille .card-title {
        width: 277px;
        white-space: nowrap;
    }

}