/****** css footer ******/

footer nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 15px;
}
nav .section-footer {
    display: flex;
    width: 33%;
    padding: 10px;
}
nav .txt-footer {
    flex-direction: column;
    padding-left: 10px;
}
/*** MEDIA QUERY ***/
@media screen and (max-width: 1024px) {
    footer nav {
        display: flex;
        width: 100%;
    }
}


@media screen and (max-width: 767.98px) {
    footer nav {
        display: flex;
        flex-direction: column;
    }
    nav .section-footer {
        width: 100%;
    }
    .section-footer .txt-footer {
        width: 66%;
    }
}