/****** css du Header******/
header {
    max-height: 1440px;
    height: 79px;
}

nav {
    display: flex;
    justify-content: space-between;
}

 nav .logo-container {
    display: flex;
    align-items: center;
    width: 161.09px;
    height: 79px;
    padding: 30px, 50px, 30px, 50px;
    gap: 10px;
}
nav img {
    width: 61.09px;
    height: 19px;
}
.menu {
    display: flex;
    justify-content: flex-end;
    width: 344px;
    height: 35px;
    left: 1096px;
    padding: 0px, 50px, 0px, 50px;
    gap: 68px
}

.btn-menu {
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 35px;
}

.btn-hebergements {
    width: 113px;
    height: 35px;
}

.btn-activites {
    width: 63px;
    height: 35px;
}
nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 6px;
}

/*** MEDIA QUERY ***/ 

@media (max-width: 1024px) {
    nav {
        width: 100%;
    }
    
}

@media (max-width: 767.98px) {
    nav {
        width: 335px;
        height: 115px;
        display: flex;
        flex-direction: column;
    }
    nav .logo-container {
        display: flex;
        align-items: center;
    }
}