/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-title {
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    width: 250.33px;
    padding: 0px 15px 0px 15px;
}
.hebergements .card {
    display: flex;
    flex-direction: column;
    width: 250.33px;
}

.hebergements-cards img {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px
}
.afficher-plus {
    width: 811px;
    height: 21px;
    margin-bottom: 20px;
}
/*** MEDIA QUERY ***/

@media (max-width: 1024px) {
    .hebergements {
        width: 100%;
    }
    .hebergements-cards a {
        width: 30%;
    }
}

@media (max-width: 767.98px) {
    .hebergements {
        width: 375px;
        height: 1,435.5px;
        padding: 20px;
        gap: 15px;
    }
    .hebergements-cards {
        width: 335px;
        display: flex;
        flex-direction: column;
    }
    .hebergements-cards .card {
        width: 335px;
        gap: 4px;
    }
    .hebergements-cards img {
        width: 335px;
    }
    
}