/****** Bloc de recherches ******/
.infos-group {
    display: flex;
    flex-direction: column;
    width: 1,340px;
    gap: 35px;
}

.headline {
    width: 1,340px;
    height: 53px;
    gap: 8px;
}
/*** barre de recherche ***/
form {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    margin-top: 15px;
    gap: 24px;
}

.logo-localisation {
    display: flex;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background-color:#F2F2F2 ;
    justify-content: center;
    align-items: center;
}

.logo-localisation i {
    color: #000000;
}

input {
    border: none;
}

.btn-recherche {
    display: flex;
    width: 132px;
    height: 49px;
    padding: 15px, 16px, 15px, 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    gap: 10px;
    background-color: #0065FC;
    color: white;
    justify-content: center;
    align-items: center;
}



/*** section de filtre ***/
 .filtres {
    display: flex;
    width: 758px;
    height: 50px;
    gap: 15px;
    align-items: center;
}

.infos-group .btn-filtres {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.btn-filtres :hover{
    background-color: #DEEBFF;
}

.filtres button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-1 {
    width: 173px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;
}
.btn-2 {
    width: 134px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;
}
.btn-3 {
    width: 170px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;

}
.btn-4 {
    width: 167px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;
}
.btn-info {
    width: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    background-color: white;
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1,340px;
    gap: 10px;
    margin-bottom: 20px;
}

/*** MEDIA QUERY ***/

@media (max-width: 1024px) {
    .infos-group {
        width: 100%;
    }
    .headline {
        width: 100%;
    }
    .filtres {
        display: flex;
        justify-content: flex-start;
        width: 668px;
        height: 91px;
        flex-direction: column;
        gap: 20px;
    }
    .btn-1 {
        width: 167px;
    }
    .btn-2 {
        width: 131px;
    }
    .btn-3 {
        width: 164px;
    }
    .btn-4 {
        width: 161px;
    }
    .infobar {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .infos-group {
        width: 375px;
    }
    .headline {
        width: 335px;
    }
    .filtres {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 161px;
        gap: 20px;
    }
    .filtres .btn-filtres {
        display: flex;
        flex-wrap: wrap;
    }
}