/****** Bloc de recherches ******/
.infos-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}


.headline {
    gap: 8px;
    flex-wrap: wrap;
}
/*** barre de recherche ***/
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
}

.logo-localisation {
    display: flex;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background-color:#F2F2F2 ;
    justify-content: center;
    align-items: center;
}

.logo-localisation i {
    color: #000000;
}

input {
    flex: 1;
    border: none;
}

.btn-recherche {
    display: flex;
    width: 132px;
    height: 49px;
    padding: 15px, 16px, 15px, 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    background-color: #0065FC;
    color: white;
    justify-content: center;
    align-items: center;
    outline: 1px solid #0065FC;
    font-weight: bold;
}
.btn-recherche i {
    display: none;
}


/*** section de filtre ***/
 .filtres {
    display: flex;
    width: 60%;
    gap: 15px;
    align-items: center;
    margin-bottom: 0;
}

.infos-group .btn-filtres {
    display: flex;
    gap: 15px;

}

.btn-filtres :hover{
    background-color: #DEEBFF;
}

.filtres button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.btn-1 {
    width: 173px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;
}
.btn-2 {
    width: 134px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;
}
.btn-3 {
    width: 170px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;

}
.btn-4 {
    width: 167px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    gap: 10px;
    background-color: white;
}
.btn-info {
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    background-color: white;
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/*** MEDIA QUERY ***/

@media screen and (max-width: 1024px) {
    .infos-group {
        width: 100%;
    }
    .headline {
        width: 100%;
    }
    .filtres {
        display: flex;
        width: 66%;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .btn-1 {
        width: 167px;
    }
    .btn-2 {
        width: 131px;
    }
    .btn-3 {
        width: 164px;
    }
    .btn-4 {
        width: 161px;
    }
    .infobar {
        width: 100%;
    }
}

@media screen and (max-width: 767.98px) {
    .infos-group {
        width: 90%;
        margin: auto;
    }
    .filtres {
        width: 100%;
        display: flex;
    }
    .filtres .btn-filtres {
        width: 100%;
        flex-wrap: wrap;
        gap: 15px 2%;
    }
    .btn-recherche i {
        color: white;
        display: initial;
    }
    .btn-recherche span {
        display: none;
    }
    .btn-recherche {
        width: 49px;
        border-radius: 15px;
    }
    form {
        width: 100%;
    }
    .filtres button {
        width: 48%;
        margin-bottom: 10px;
    }
    
}